body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: floralwhite;
    background-color: darkslategray;
}
label {
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

input,
select {
    width: 18vw;
    margin: 1vw;
}

.colorSwatch {
    width: 100%;
    height: 50%;
    border-radius: 0.5vw;
}

.paletteContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.colorCard {
    width: 100%;
    height: 18vw;

    overflow: hidden;
}

.colorCard.middle {
    width: 125%;
    height: 22vw;
}

.colorCodeList {
    padding-left: 0;
    margin: 1em;
}
.colorCodeList li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0.5em;
}
